<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script> 
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/restaurants">Saved Restaurants</a>
      <a href="/users/logout">Log Out</a>
    </nav>
      <h1>Restaurants</h1>
      <h2>Search Restaurants</h2>
      <form id="search">
        <input type="text" id="search-input" placeholder="Show Name" />
        <button id="search-button">Search</button>
      </form>
      <div class="results">
   
      </div>
    </div>
</body>
</html>sds